/* Global Styles */
:root {
  --primary-color: #ffffff;
  --secondary-color: #ccc;
  --accent-color: #e74c3c;
  --text-color: #333333;
  --text-color2: #ffffff;
  --background-color: rgb(57, 73, 137);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #ffffff;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

.imagemFundo {
  /*
  background-image: linear-gradient(rgba(0, 69, 172, 0.3), rgba(0, 69, 172, 0.3)),
   url('../images/backgroundImage.jpeg'); /* Substitua pelo caminho da sua imagem 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  background-color: #23527c;
}
 /*/
/* Navigation Menu */

.navbar {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
}

.navbar-scrolled {
  background-color: var(--background-color); /* Cor de fundo quando rolar para baixo */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-nav {
  margin-top: 10px;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: var(--primary-color);
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: var(--secondary-color);
}

/* Hero Section */

.jumbotron {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
}

.jumbotron h1 {
  font-size: 48px;
  margin-bottom: 20px;
  
}

.jumbotron p {
  font-size: 24px;
  margin-bottom: 40px;
}

.jumbotron .btn {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.jumbotron .btn:hover {
  background-color: #23527c;
}

/* Carousel Section */

.carousel {
  margin-top: 20px;
}

.carousel-inner {
  height: 500px;
}

.carousel-item {
  width: auto;
  height: 800px;
  background-color: #f9f9f9;
  padding: 20px;
}

.carousel-item img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  background-color: #337ab7;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #23527c;
}

/* General Information Section */

#info {
  padding: 40px 20px;
}

#info h2 {
  margin-top: 20px;
}

#info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#info li {
  margin-bottom: 10px;
}

/* Social Media Links Section */

#social-media {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

#social-media h2 {
  margin-top: 20px;
}

#social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#social-media li {
  margin-right: 20px;
}

#social-media img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Contact Information Section */

#contact {
  padding: 40px 20px;
}

#contact h2 {
  margin-top: 20px;
}

#contact form {
  margin-top: 20px;
}

#contact label {
  display: block;
  margin-bottom: 10px;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

#contact button[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#contact button[type="submit"]:hover {
  background-color: #23527c;
}

/* Footer Section */

footer {
  background-color: #337ab7;
  padding: 20px;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #eee;
}

/* main */
span{
  /*Deslocamento horizontal: 2px
    Deslocamento vertical: 2px
    Raio do desfoque: 4px
    Cor da sombra: rgba(0, 0, 0, 0.3) */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}
main {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../images/backgroundImage.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* escurecer a imagem de fundo do main */
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere o último valor (0.5) para ajustar a opacidade */
}

.intro_logo {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.top-content {
  display: flex;
}

.left-content, .right-content {
  flex: 1;
}

.bottom-content {
  text-align: center;
  margin-top: 20px; /* Ajuste o espaçamento superior conforme necessário */
}




